# IDE
.idea
CMakeLists.txt

# Automat
Automat/debug
Automat/objs

# Buffer
Buffer/debug
Buffer/objs

# Scanner
Scanner/debug
Scanner/objs

# Symboltabelle
Symboltable/debug
Symboltable/objs

#main
main/objs
main/dist
main/output
