# IDE
.idea

# Automat
Automat/debug/AutomatTest
Automat/debug/TestAutomat.o
Automat/objs/Automat.o

# Buffer
Buffer/debug/BufferTest
Buffer/debug/TestBuffer.o
Buffer/objs/Buffer.o

# Scanner
Scanner/debug/ScannerTest
Scanner/debug/TestScanner.o
Scanner/objs/Scanner.o

# Symboltabelle
Symboltable/debug/SymboltableTest
Symboltable/debug/TestSymboltable.o
Symboltable/objs/Symboltable.o
