# IDE
.idea
CMakeLists.txt

# Automat
Automat/debug
Automat/objs

# Buffer
Buffer/debug
Buffer/objs

# Parser
Parser/debug
Parser/objs

# Scanner
Scanner/debug
Scanner/objs
Scanner/output

# Symboltabelle
Symboltable/debug
Symboltable/objs

#main
main/objs
main/dist
main/output

#Main
Main/objs
Main/dist
Main/output
